/*add retro font*/
@font-face {
    font-family: 'arcadeclassicregular';
    src: url('../fonts/arcadeclassic-webfont.woff2') format('woff2'),
         url('../fonts/arcadeclassic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*page wide styles*/
body {
  background-color: black;
  background-image: url("../img/bg.jpg");
	font-family: 'arcadeclassicregular';
  color: white;
}

/*margins for main container content*/
#maincontainer {
  margin-right: 27em;
}

/*Styling and position of text*/
#banner-h1 {
  text-align: center;
  font-size: 12em;
}

#banner-h3 {
  text-align: center;
  font-size: 3em;
}

.pingpong-output {
  font-size: 2.5em;
  margin-left: 1em;
}

/*ping pong gif*/
#pingpong-gif {
  margin-left: 18em;
  width: 600px;
  height: 375px;
}


/*Submit Button styles*/
#submit {
  margin-left: 29em;
  margin-top: 3em;
}

/*Overwrite bootstrap pre-scrollable for more height*/

.pre-scrollable {
    max-height: 800px;
    overflow-y: scroll;
}
